# This Docker Compose file is an empty and should be filled in as part of the challenge.
# Please refer to the README.md for instructions on how to complete the challenge.
# Wish you good luck and have fun!

services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - frontend-network
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "9000:9000"
    environment:
      - DB_HOST=database
      - DB_PORT=3306
      - DB_USER=student
      - DB_PASSWORD=student1234
      - DB_NAME=student_db
    networks:
      frontend-network:
      backend-network:
        ipv4_address: 172.20.0.10
    depends_on:
      - database

  database:
    image: ghcr.io/hayk96/three-tier-app-challenge-mysql:latest
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - backend-network

volumes:
  database-volume:

networks:
  frontend-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
  backend-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16